#
# This is Git's per-user configuration file.
#
[core]
	excludesfile = ~/.config/git/gitignore
  editor = "NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim"
[commit]
	template = ~/.config/git/commit_msg
[init]
	templatedir = ~/.config/git/template
